<div class="global">
    <div class="iniciar-sesion">
        <form>
            <h1>Iniciar sesion</h1>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label email">Correo</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn ">Iniciar</button>
            <a routerLink="/crear"><p>crear cuenta</p></a>
          </form>
    </div>
</div>