
.iniciar-sesion {
   display: flex;
   justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
  text-align: center;
}

form {
  color: blueviolet;
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  width: 30%;
  height: auto;
}

.email {
  margin-top: 15px;
}
.btn { 
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: rgb(138, 43, 226);
  color: white;
}

a,p {
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  color: blueviolet;
}




/*Perrito*/


html, body {
    background:#5a076b;
    height: 100%;
    width: 100%;
  }
  
  .dog {
    width: 60px;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    margin-top: 20px;
  }
  
  .body {
    background:#78088f;
    border-radius: 200px 200px 0 0;
    height: 150px;
  }
  
  .beard {
    width: 27px;
    height: 32px;
    background:#5a076b;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
  }
  
  .beard:after {
    content: '';
    background:#5a076b;
    width: 13px;
    height: 6.5px;
    border-radius: 0 0 12.5px 12.5px;
    display: block;
    margin: 0 auto;
    transform: translateY(32px);
  }
  
  .beard:before {
    content: '';
    background: #000;
    width: 10px;
    height: 5px;
    border-radius: 0 0 10px 10px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .mouth {
    background: #1A243C;
    width: 18px;
    height: 9px;
    border-radius: 0 0 18px 18px;
    position: absolute;
    top: 11px;
    margin: auto;
    left: 0;
    right: 0;
    border-top: 2px solid #fff;
    box-sizing: border-box;
  }
  
  .mouth .tongue {
    width: 12px;
    height: 18px;
    border-radius: 3px 3px 6px 6px;
    background: #FF6B5A;
    margin: 0 auto;
    position: relative;
    top: 2px;
    transition: 300ms;
    animation: grow .1s infinite alternate;
  }
  
  .eyes {
    background: #fff;
    width: 12px;
    height: 14px;
    border-radius: 12px 12px 0 0;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 1px;
  }
  
  .eyes:before,
  .eyes:after {
    content: '';
    width: 6px;
    height: 6px;
    background: #000;
    display: block;
    border-radius: 50%;
    top: 50%;
    position: absolute;
    animation: squeeze 1.2s infinite;
  }
  
  .eyes:before {
    left: -7.5px;
  }
  
  .eyes:after {
    right: -7.5px;
  }
  
  .belt {
    height: 18px;
    background: #FF6B5A;
    margin-top: 12px;
    position: relative;
  }
  
  .belt .locket {
    width: 18px;
    height: 18px;
    background: #FFC442;
    margin: 0 auto;
    border-radius: 50%;
    transform: translateY(50%);
  }
  
  .belt .dot {
    width: 6px;
    height: 6px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  
  .belt .dot.dot1 {
    margin-left: 6px;
  }
  
  .belt .dot.dot2 {
    margin-left: 17px;
  }
  
  .belt .dot.dot3 {
    margin-left: 38px;
  }
  
  .belt .dot.dot4 {
    margin-left: 50px;
  }
  
  .belt:before,
  .belt:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 6px;
    background: #fff;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  
  .belt:before {
    left: -3px;
    border-radius: 6px 0 0 6px;
  }
  
  .belt:after {
    right: -3px;
    border-radius: 0 6px 6px 0;
  }
  
  .stomach {
    width: 33px;
    height: 75px;
    background:#ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 60px 60px 0 0; 
  }
  
  .legs {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7px;
  }
  
  .legs:before,
  .legs:after {
    height: 7px;
    border-radius: 10px 10px 0 0;
    display: inline-block;
    content: '';
    position: absolute;
    background:#67067a;
    width: 20px;
  }
  
  .legs:before {
    left: -16px;
  }
  
  .legs:after {
    right: -16px;
  }
  
  .legs .left,
  .legs .right {
    display: inline;
    width: 7px;
    height: 30px;
    background:#6e0683;
    position: absolute;
    bottom: 0;
  }
  
  .legs .left:before {
    content: '';
    width: 14px;
    height: 7px;
    background:#6e0683;
    border-radius: 10px 10px 0 0;
    display: inline-block;
    bottom: 0;
    position: absolute;
  }
  
  .legs .left {
    left: -7px;
    border-radius: 10px 0 0 0;
  }
  
  .legs .left:before {
    transform: translateX(-1px);
  }
  
  .legs .right {
    right: -7px;
    border-radius: 0 10px 0 0;
    z-index: 1;
  }
  
  .legs .right:before {
    transform: translateX(-7px);
  }
  
  .ears {
    position: absolute;
    z-index: -1;
    top: -12px;
  }
  
  .ears:after,
  .ears:before {
    content: '';
    display: inline-block;
    background:#5a076b;
    width: 20px;
    height: 45px;
    border-radius: 100% 100% 0 0;
  }
  
  .ears:after {
    transform: translateX(20px);
    background:#5a076b;
    box-sizing: border-box;
  }
  
  .tail {
    background:#5a076b;;
    width: 7px;
    height: 40px;
    position: absolute;
    z-index: -1;
    right: 5px;
    bottom: 20px;
    transform: rotate(30deg);
    border-radius: 7px;
    transform-origin: bottom;
    transition: 300ms;
    animation: shake .08s infinite alternate;
  }
  
  @keyframes squeeze {
    90% {
      transform: none;
      animation-timing-function: ease-in;
    }
    93% {
      transform: scale(1.2, 0.3);
    }
    100% {
      animation-timing-function: ease-out;
    }
  }
  
  @keyframes grow {
    0% {
      animation-timing-function: ease-in;
    }
    100% {
      height: 17.5px;
    }
  }
  
  @keyframes shake {
    0% {
      transform: rotate(30deg);
    }
    100% {
      transform: rotate(40deg);
    }
  }
  